################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Böcker
/Lab1/Lab1_RayTracing/.vs/Lab1_RayTracing/v16
/Lab1/Lab1_RayTracing/Debug
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Debug/Lab1_RayTracing.tlog
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Debug
/Lab1/Lab1_RayTracing/Lab1_RayTracing/lab1.png
/Lab1/Lab1_RayTracing/Lab1_RayTracing/GitHjälp.txt
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj.user
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj.filters
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj
*.sln
/Lab1/lab1.pdf
/kursplan-DV1568.pdf
/Lab1/Lab1_RayTracing/Bilder/Hjälpmedljussättning.PNG
/Lab1/Lab1_RayTracing/Bilder
/Lab1/RayTracer_FilipWickstrom
/Viktiga bilder
/Lab1/RayTracer_FilipWickstrom.zip
/Lab1/RayTracer_FilipWickstrom_ver1.zip
/Lab1/Inlämnat
/Testning/Rasteriserare_Python
/Lab2/lab2.pdf
/Lab2/Lab2_HelloTriangle/.vs/Lab2_HelloTriangle/v16
/Lab2/Lab2_HelloTriangle/Debug
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Debug
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/TODO.txt
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj.user
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj.filters
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj
/Hjälpmedel
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Release
/Lab2/Lab2_HelloTriangle/Shaders(dontworkfornow)
/Lab2/Filmer
/Lab2/Lab2_FilipWickstrom
/Lab2/Inlämning/Lab2_FilipWickstrom_ver1
/Lab2/Inlämning
/Lab2/Hjälp
/Projektet/3D_Project/.vs/3D_Project/v16
/Projektet/Ideer.txt
/Projektet/project - DV1568.pdf
/Projektet/3D_Project/Debug
/Projektet/3D_Project/3D_Project/Debug
/Projektet/3D_Project/Textures
/Projektet/3D_Project/3D_Project/3D_Project.vcxproj.user
/Projektet/3D_Project/3D_Project/3D_Project.vcxproj.filters
/Projektet/3D_Project/3D_Project/3D_Project.vcxproj
/Projektet/3D_Project/3D_Project/ObjFiles/not edited
/Projektet/3D_Project/3D_Project/ObjFiles/not working
/Projektet/3D_Project/3D_Project/ObjFiles/GazTank
/Projektet/3D_Project/3D_Project/Release
/Projektet/3D_Project/3D_Project/Textures/Stone_Path_006_SD
/Projektet/3D_Project/3D_Project/Textures/Stylized_Stone_Wall_001_SD
/Projektet/3D_Project/3D_Project/Libraries/DirectXTK
/Projektet/3D_Project/3D_Project/x64/Debug
/Projektet/3D_Project/x64/Debug
/Projektet/3D_Project/3D_Project/Libs/x64
/Projektet/Dokumentation
/Projektet/3D_Project/3D_Project/ObjFiles/testing
/Projektet/3D_Project/3D_Project/Textures/Ground_Wet_Rocks_002_SD
/Projektet/3D_Project/3D_Project/Textures/Pebbles_024_SD
/Projektet/3D_Project/3D_Project/Textures/HeightmapTester
/Projektet/3D_Project/3D_Project/Textures/Brick_Wall_017_SD
/Projektet/3D_Project/3D_Project/Textures/NotEdited
/Projektet/3D_Project/3D_Project/Textures/Not in use
/Projektet/Debugging
/Projektet/HjälpBilder
/Projektet/3D_Project/3D_Project/ObjFiles/.CLEAR UP THIS BEFORE SUBMISSION.txt
/Projektet/3D_Project/3D_Project/x64/Release
/Projektet/3D_Project/x64/Release
