################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Böcker
/Lab1/Lab1_RayTracing/.vs/Lab1_RayTracing/v16
/Lab1/Lab1_RayTracing/Debug
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Debug/Lab1_RayTracing.tlog
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Debug
/Lab1/Lab1_RayTracing/Lab1_RayTracing/lab1.png
/Lab1/Lab1_RayTracing/Lab1_RayTracing/GitHjälp.txt
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj.user
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj.filters
/Lab1/Lab1_RayTracing/Lab1_RayTracing/Lab1_RayTracing.vcxproj
*.sln
/Lab1/lab1.pdf
/kursplan-DV1568.pdf
/Lab1/Lab1_RayTracing/Bilder/Hjälpmedljussättning.PNG
/Lab1/Lab1_RayTracing/Bilder
/Lab1/RayTracer_FilipWickstrom
/Viktiga bilder
/Lab1/RayTracer_FilipWickstrom.zip
/Lab1/RayTracer_FilipWickstrom_ver1.zip
/Lab1/Inlämnat
/Testning/Rasteriserare_Python
/Lab2/lab2.pdf
/Lab2/Lab2_HelloTriangle/.vs/Lab2_HelloTriangle/v16
/Lab2/Lab2_HelloTriangle/Debug
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Debug
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/TODO.txt
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj.user
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj.filters
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Lab2_HelloTriangle.vcxproj
/Hjälpmedel
/Lab2/Lab2_HelloTriangle/Lab2_HelloTriangle/Release
/Lab2/Lab2_HelloTriangle/Shaders(dontworkfornow)
